<!DOCTYPE html>
<html>
  <head>
    <title>goseasalt</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
     <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <%= yield(:head) %>
  </head>
  <body>
    <div id="sticky">
      <div class="container">
        <div class"row">
          <div class="col-md-9">
            <%= link_to "goSeaSalt", root_path, :class => 'brand' %>
          </div>
          <div class="col-md-3">
            <a href="#">Employers</a>
            <%= link_to "Login", login_path %>
          </div>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
